/* Full-screen overlay */
.popup-overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0 10px;
  }

.user-privacy-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Popup content styled as full-screen */
  .popup-content 
  {
    background: rgba(0, 0, 0, 1);
    padding: 2em;
    padding-top: 1em;
    border-radius: 10px;
    position: relative;
    width: 90%;
    height: 92vh;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: .4em;
   
  }

  .user-privacy-content
  {
    background: rgba(255, 255, 255, 1);
    padding: 1em;
    width: 100%;
    height: 100vh;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: .7em;
  }

  .user-privacy-content h1
  {
    font-size: 1.7em;
    color: black;
    padding: 0;
  }

  .user-privacy-content h2
  {
    font-size: unset;
    color: black;
    display: flex;
    
  }

  .user-privacy-content p
  {
    font-size: unset;
    color: black;
    font-weight: unset;
  }

  .return-button
  {
    border-radius: 50px;
    padding: .7em 0;
    border: 0;
    box-shadow: 0 0 10px;
    font-weight: 600;
    cursor: pointer;
    /* background: rgb(210, 210, 210); */
  }

  .return-button:hover
  {
    background: white;
    transition: all .5s ease-in;
    transition: all .5s ease-out;
  }
  
  /* Close button */
  .popup-close 
  {
    position: absolute;
    top: 0;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
    transform: rotate(45deg);
    color: red;
  }

/* history */
  .manage-cities
  {
    height: 50%;
    width: 100%;
    /* background-color: #fff; */
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    overflow-y: auto;

  }

  .manage-cities button
  {
    background-color: aqua;
    border: 1px solid aqua;
    padding:1px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
  }

  .del-icon
  {
    font-size: 1.5em;
    color: red;
    cursor: pointer;
  }

  .manage-cities ul li
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  ul
  {
    display: flex;
    flex-direction: column;
    gap: 0.7em;overflow: auto;
  }

  ul li
  {
    list-style: none;
    color: white;
    border: 1px solid aqua;
    padding: 5px 0;
    cursor: pointer;
  }
  /* ends*/


  /* settings */
  .settings
  {
    height: 25%;
    width: 100%;
    /* background-color: blue; */
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid white;
  }

  .settings button 
  {
    background-color: transparent;
    border: 1px solid aqua;
    color: aqua;
    padding: .5em 1em;
    margin: 0.2em;
    cursor: pointer;
  }
  
  .settings button.active 
  {
    background-color: aqua;
    color: black;
  }
  /* ends */


  /* more */
  .more
  {
    height: 25%;
    width: 100%;
    /* background-color: red; */
    text-align: center;
    font-size: .9em;
    font-weight: bold;
    color: white;
  }
  .more h3
  {
    padding-bottom: 15px;
  }
  /* ends */
  

  /* DEVLOPER CONTENT */

  .devloper-overlay 
  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
  }
  
  .developer-content 
  {
    background-color: lightblue;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1002;
    text-align: center;
  }

  .developer-content span 
  {
    color: black;
    font-size: 20px;
    font-weight: bold;
  }

  .developer-content p 
  {
    color: grey;
    font-size: 16px;
    font-weight: unset;
    background-color: rgba(0, 0, 0);
    color: aqua;
    padding: 15px 15px 5px 15px;
    border-radius: 10px;
  }

  .developer-content p span
  {
    color: #FF6EC7;
    font-size:1.5em;
  }

  .developer-content .arrow
  {
    margin-top: 10px;
  }

  .social-icons
  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    color: #FF6EC7;
    padding: 5px 0;
    background-color: rgba(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }

  .developer-content h6 
  {
    background-color: rgba(0, 0, 0);
    color: aqua;
    padding: 10px 0 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .developer-content h6 span
  {
    color: grey;
    cursor: pointer;
  }
  
  .devloper-popup-close 
  {
    position: absolute;
    top: 0;
    right: 10px;
    background: none;
    border: none;
    font-size: 2.2rem;
    cursor: pointer;
    color: red;
    transform: rotate(45deg);
  }
  
  .developer-popup 
  {
    background: #f4f4f4;
    padding: 20px 15px;
    border-radius: 10px;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.2em;
  }
  
  .developer-popup h3 
  {
    margin-bottom: 10px;
  }
  
  .developer-popup p 
  {
    margin-bottom: 20px;
  }
  